<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-photo" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>CDVLocalWWW</name>
    <js-module name="CDVPhotoPicker" src="www/photo.js">
        <clobbers target="CDVPhotoPicker" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="CDVPhotoPicker">
                <param name="ios-package" value="CDVPhotoPicker" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVPhotoPicker.h" />
        <source-file src="src/ios/CDVPhotoPicker.m" />
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="HXPhotoPicker" spec="~> 3.3.1" />
            </pods>
        </podspec>
    </platform>

</plugin>
